*{
    font-family: arial;
}

#main {
    display: flex;
    /* height: 650px; */
    width: 100%;
}

#sidebar {
    width: 220px;
    height: 650px;
    padding: 0px 15px;
    background: rgb(51, 51, 51);
    color: white;
}

#sidebar h3 {
    cursor: pointer;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 10px;
}

#sidebar h3:hover {
    color: black;
}

#results {
    width: 100%;
    height: auto;
    border: 1px solid blue;
    padding: 20px 15px;
}